<!DOCTYPE html>
<html>
  <head>
    <title>Search Artist Tool</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Search Artist Tool</h1>
    <p>Look for your artist favourite musics!</p>
    <form method='POST' action='/search-artist'>
      <input type="text" name='artistName' value=''>
      <input type="submit" name='button' value='Search'>
    </form>
    

  </body>
</html>
