<!DOCTYPE html>
<html>
  <head>
    <title>Search Artist Tool</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Search Artist Tool</h1>
    <p>Look for your artist favourite musics!</p>
    <form method='POST' action='/search-artist'>
      <input type="text" name='artistName' value=''>
      <input type="submit" name='button' value='Search'>
    </form>

    <h2>Here is the list of available artists:</h2>
    <ul>
      <li>Muse</li>
      <li>ACDC</li>
      <li>Led Zeppelin</li>
      <li>The Doors</li>
      <li>Charles Aznavour</li>
      <li>Jacques Brel</li>
      <li>Céline Dion</li>
      <li>Edith Piaf</li>
      <li>Beyonce</li>
    </ul>
  </body>
</html>
