<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search Artist Tool</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (artist) { %>
        <p>Artist: <%= artist.artist %>
        </p>
        <p>Artist's favorite musics:</p>
        <ol>
            <% for (let i = 0; i < artist.favorite_musics.length; i++) { %>
                <li>
                    <%= artist.favorite_musics[i]%>
                </li>
                <% } %>
        </ol>
        <% } else { %>
            <p>Artist not found</p>

            <% } %>

                <p>
                    <a href='/'>Go back</a>
                </p>

</body>

</html>